@media (max-width:1680px) {
    header{
        width:1350px;
    }
    section{
        width: 1350px;
    }
    .sessao img{
        width: 100% - 50%;
        margin: 10%;
    }
    .sessao .bloco{
        margin: 10%;
    }
    .sessao{
        padding: 0;
    }
    footer{
        width:1350px;
    }
}

@media (max-width:1024px) {
    header{
        width: 1010px;
    }
    h1{
        font-size:50px ;
        text-shadow: 5px 5px 5px black;
    }
    .logo{
        width: 125px;
        height: 100px;
    }
    section{
        width: 1010px;
    }
    .sessao img{
        width: 500px ;
        
    }
    .sessao .bloco{
        margin: 0;
    }
    .sessao {
        
        width: 100%;
    }
    footer{
        width: 1010px;
    }
}

@media (max-width:376px) {

    header{
        width: 500px;
    }

    h1{
        font-size: 35px;
    }
    .logo{
        width: 75px;
        height: 75px;
        padding: 0;
    }
    section{
        width: 500px;
    }
    
    .sessao{
    width: 350px;
    }

     .sessao img {
        width: 150px;
        height: 10%;
    }

    .sessao .bloco h2{
        font-size: 20px;
    }

    .sessao .bloco p{
        font-size: 10px;
    }

     footer{
        width: 500px;
     }
    
}


